body{
	background-color: #3e3f41;
	margin: 0;
	padding: 0;
}

#html2, #perf, #preg, #sal, #htmlfinal{
	background-color: #dddee0;
}


/*INDEX PRINCIPAL*/
.container-logo{
	margin: 60px;
}

#trans{
	text-transform: uppercase;
	color: #f6a800;
	font-weight: 600;
}

.panel-default{
	background-color: transparent;
	margin: 20px 10px;
	border: 2px solid #f6a800;
}

.form-control{
	margin: 0;
}

button{
	background-color: #f6a800;
	border: 2px solid black;
	border-radius: 10px;
	width: 100%;
	padding: 6px 0;
	margin: 10px 0;
	font-weight: 600;
}

.parrafo{
	display: inline;
}

#p1{
	color: whitesmoke;
}

footer{
	height: 50px;
	margin-top: 16%;
}

footer p{
	display: inline-block;
	margin: 12px 0;
	color: black;
}

#p2{
	font-weight: bold;
	cursor: pointer;
}
/*FIN INDEX PRINCIPAL*/


/*MENU SIDBAR*/

.superior{
	display: inline;
	margin: 0 10px;
}

#sup{
	background-color: #3e3f41;
}

#titulo-menu{
	margin-left: 30px;
	text-transform: uppercase;
	color: #dddee0;
}

.menu {
	height: 100%; 
	width: 70%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden; 
	padding-top: 60px;
	transition: 0.5s;
	background-color: white;
}

.opciones{
	padding: 5px 0;
	font-size: 20px;
	margin-left: 5px;
}

.opciones i{
	margin: 0 20px;
	font-size: 24px;
	background-color: transparent;
	color: #f6a800;
}

.opciones a{
	color: rgba(9,8,8,0.8);
	font-weight: 600;
	display: block;
	transition: 0.3s;
	font-size: 15px;
}

.opciones a:hover{
	color: #f6a800;
	text-decoration: none;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	color: black;
}

.closebtn i:hover{
	color: #f6a800;
}

.bars i{
	color: whitesmoke;
	font-size: 30px;
	padding: 5px 7px
}

.bars i:hover{
	color: #f6a800;
}

/*CUADRO BASE*/

#cuadro{
	background-color: #dddee0;
}

.container-opciones{
	display: block;
	padding: 10px;
	border: 2px solid whitesmoke;
	margin: 80px 10px;
}

.enlaces{
	margin: 5px 0;
	padding: 20px 0;
	background-color: #f6a800;
}

.enlaces a{
	padding: 15px;
	color: whitesmoke;
	text-transform: uppercase;
	font-weight: 600;
}

/*FIN INDEX OPCIONES*/

/*INDEX PERFIL*/

.container-imagen{
	background-color: #f6a800;
	width: 100%;
	margin: 0; 
}

img.imagen{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: 10px 0;
}

.container-tarj{
	display: block;
	padding: 10px;
	margin: 10px 10px;
}

#correo{
	width: 100%;
	margin: 20px 0;
	border: 2px solid #f6a800;
	border-radius: 6px;
}

#numTarjeta{
	background-color: transparent;
	width: 100%;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #f6a800;
	margin-bottom: 10px;
}

/*FIN INDEX PERFIL*/

/*INDEX PREGUNTAS*/

.container-preguntas{
	background-color: #f6a800;
	padding: 40px 20px;
}

#sangurucho{
	display: inline-block;
	font-size: 30px;
	color: whitesmoke;
	margin-left: 10px;
}

.enlaces {
background: black;
	display: none;
	}

.barrita{
	background: #302d2d;
	width: 100%;
}

.listado{
	list-style: none;
	border-bottom: 1px solid whitesmoke;
}

.listado a{
	color: whitesmoke;
	width: 200px;
	text-decoration: none;
}

.listado a:hover{
	color: #f6a800;
}


